@page "/XemBlog/{id:int}"
@model AppRazorPageDemo.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Chi tiết bài viết: </h1>

<div>
    <h4>Bài viết</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article?.Id" class="btn btn-warning">Chỉnh sửa</a> |
    <a asp-page="./Index">Quay trở lại danh sách bài viết</a>
</div>
